<p>Tableau 1</p>

<div class="container">
    <div class="row">
        <div class="col-md">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>A Faire</mat-card-title>
                </mat-card-header>
                <mat-card class="example-card"> <mat-card-content>
                        <h1>Titre</h1>
                        <p>
                            note
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button class="btn btn-primary">Edit <fa-icon [icon]="faEdit"></fa-icon></button>
                        <button class="btn btn-danger">Delete <fa-icon [icon]="faTrashAlt"></fa-icon></button>
                    </mat-card-actions>
                </mat-card><hr>
                <mat-card class="example-card">
                    <mat-card-content>
                        <h1>
                            Scrapper les données d'une page
                        </h1>
                        <p>note</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mdbBtn class="btn btn-primary">Modifier</button>
                        <button class="btn btn-danger">Delete</button>
                      
                        
                    </mat-card-actions>
                </mat-card>
                <mat-card-actions>
                    <section>
                        <div class="example-button-row">
                            <button mdbBtn class="btn btn-primary" (click)="open(content)">Ajouter Fiche <fa-icon [icon]="faPlus"></fa-icon>
                            </button>
                        </div>
                    </section>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>En Cours</mat-card-title>
                </mat-card-header>

            </mat-card>
        </div>
        <div class="col-md">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Réaliser</mat-card-title>
                </mat-card-header>


            </mat-card>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Enregistrer un nouveau</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-add-fiche></app-add-fiche>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>