<!--Navbar-->
<mdb-navbar #nav SideClass="navbar navbar-expand-lg navbar-dark bg-primary">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">Navbar</a>
  </mdb-navbar-brand>

  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <!-- Dropdown -->
      <li class="nav-item dropdown mega-dropdown active" mdbDropdown>
        <a mdbDropdownToggle class="nav-link dropdown-toggle">Menu</a>
        <div class="dropdown-menu mega-menu v-3 row z-depth-1 primary-color-dark">
          <div class="row">
            <div class="col-md-5 col-xl-3 sub-menu mb-xl-5 mt-5 mb-5">
              <ul class="list-unstyled ml-4 mr-md-0 mr-4">
                <li class="sub-title text-uppercase">
                  <a class="menu-item" href="">Technology</a>
                </li>
                <li class="sub-title text-uppercase">
                  <a class="menu-item pl-1 mt-2" href="">Design</a>
                </li>
                <li class="sub-title text-uppercase">
                  <a class="menu-item pl-1 mt-2" href="">Lifestyle</a>
                </li>
              </ul>
            </div>
            <div class="col-md-7 col-xl-9">
              <div class="row pr-4">
                <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-md-block">
                  <!--Featured image-->
                  <div class="view overlay mb-3 z-depth-1">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(41).jpg" class="img-fluid"
                      alt="First sample image">
                    <div class="mask rgba-white-slight flex-center">
                      <p></p>
                    </div>
                  </div>
                  <h4 class="mb-2">
                    <a class="news-title font-weight-bold pl-0" href="">Lorem ipsum dolor sit amet.</a>
                  </h4>
                  <p class="font-small text-uppercase text-white">
                    <mdb-icon far icon="clock" class="pr-2" aria-hidden="true"></mdb-icon>July 17, 2017 /
                    <mdb-icon far icon="comments" class="px-1" aria-hidden="true"></mdb-icon> 20
                  </p>
                </div>
                <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-xl-block">
                  <!--Featured image-->
                  <div class="view overlay mb-3 z-depth-1">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(43).jpg" class="img-fluid"
                      alt="First sample image">
                    <div class="mask rgba-white-slight flex-center">
                      <p></p>
                    </div>
                  </div>
                  <h4 class="mb-2">
                    <a class="news-title font-weight-bold pl-0" href="">Neque porro quisquam est.</a>
                  </h4>
                  <p class="font-small text-uppercase text-white">
                    <mdb-icon far icon="clock" class="pr-2" aria-hidden="true"></mdb-icon>July 16, 2017 /
                    <mdb-icon far icon="comments" class="px-1" aria-hidden="true"></mdb-icon> 46
                  </p>
                </div>
                <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-xl-block">
                  <!--Featured image-->
                  <div class="view overlay mb-3 z-depth-1">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(9).jpg" class="img-fluid"
                      alt="First sample image">
                    <div class="mask rgba-white-slight flex-center">
                      <p></p>
                    </div>
                  </div>
                  <h4 class="mb-2">
                    <a class="news-title font-weight-bold pl-0" href="">Quis autem vel iure reprehit.</a>
                  </h4>
                  <p class="font-small text-uppercase text-white">
                    <mdb-icon far icon="clock" class="pr-2" aria-hidden="true"></mdb-icon>July 15, 2017 /
                    <mdb-icon far icon="comments" class="px-1" aria-hidden="true"></mdb-icon> 35
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="open(content)">Ajouter un
      tableau</button>
  </div>
</section>
<h2>
  Liste des tableaux
</h2>
<div class="container">
  <div class="row">
    <div class="col-md">
      <mat-card class="example-card"  (click)="openFiche()">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn btn-primary">Modifier</button>
          <button class="btn btn-danger">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Modifier</button>
          <button class="btn btn-danger">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Modifier</button>
          <button class="btn btn-danger">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Enregistrer un nouveau</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-add-tableau></app-add-tableau>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<hr>
