<mat-card-header class="info-color white-text text-center py-4">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Formulaire d'ajout d'une fiche</mat-card-title>
  </mat-card-header>
  <mat-card class="example-card">
    <!-- Default form contact -->
    <form class="text-center border border-light p-5">
  
      <!-- Name -->
      <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Libelle">
      <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="lieu">
      <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Url">
      <select class="browser-default custom-select mb-4">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="2">3</option>
      </select> 
        <textarea class="form-control mb-4" placeholder="Ajouter une note"></textarea>
      <input type="date" class="form-control mb-4" placeholder="01-01-2000"/>
  
  
      <!-- Subject -->
      <!-- <label>Subject</label>
    <select class="browser-default custom-select mb-4">
      <option value="" disabled>Choose option</option>
      <option value="1" selected>Feedback</option>
      <option value="2">Report a bug</option>
      <option value="3">Feature request</option>
      <option value="4">Feature request</option>
    </select> -->
      <!-- Send button -->
      <button mdbBtn color="info" block="true" type="submit">Send</button>
  
    </form>
  </mat-card>
  <!-- Default form contact -->
  