<!--Navbar-->
<mdb-navbar #nav SideClass="navbar navbar-expand-lg navbar-dark bg-primary">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">Accueil</a>
  </mdb-navbar-brand>

  <links>
    <!-- Search form -->
    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->


<router-outlet></router-outlet>
